<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interface Elements</title>
    <link rel="stylesheet" href="../../install/css/style.css">
</head>
<body>
<h1>
    Hello world!
</h1>
<div class="card px-4 pb-4 sm:px-5">
    <div>
        <p class="max-w-2xl">
            Badges can have a soft colors. To do this, you should use some
            opacity. Check out code for detail of usage.
        </p>
        <div class="inline-space mt-5">
            <div class="badge bg-primary/10 text-primary dark:bg-accent-light/15 dark:text-accent-light">
                Primary
            </div>
            <div class="badge bg-secondary/10 text-secondary dark:bg-secondary-light/15 dark:text-secondary-light">
                Secondary
            </div>
            <div class="badge bg-info/10 text-info dark:bg-info/15">
                Info
            </div>
            <div class="badge bg-success/10 text-success dark:bg-success/15">
                Success
            </div>
            <div class="badge bg-warning/10 text-warning dark:bg-warning/15">
                Warning
            </div>
            <div class="badge bg-error/10 text-error dark:bg-error/15">
                Error
            </div>
        </div>
    </div>
</div>
</body>
</html>